{{#each this}}
    <div class="game-item">
        <a href="{{this.gamePlayUrl}}">
            <img src="{{this.mediaFiles.ICON.[130]}}">
        </a>
        <a href="{{this.gamePlayUrl}}">
            <h3>{{this.name}}</h3>
        </a>
    </div>
{{/each}}