<div class="game-item">
    <div class="game-hero">
        <img src="{{this.mediaFiles.FEATURED_HALF.[620]}}">
    </div>
    <div class="container game-desc">
        <h1>{{this.name}}</h1>
        <h2>Strategy Games</h2>
        <select class="game-rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        {{{this.description}}}
        <a href="{{this.gamePlayUrl}}" class="button"><span class="typcn typcn-media-play"></span>Play now</a>
    </div>
</div>